# ---------------[ Unity generated ]------------------ #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
ProjectSettings/*.asset
doublependulum_Data/
doublependulum_x64_Data
Assets/Plugins/

# ----[ Visual Studio / MonoDevelop generated ]------- #

Debug/
x64/
solveeom/Release/
solveeom/x64/
solveeom/solveeomcs/bin/
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.sdf
*.user
*.unityproj
*.booproj
*.Cache
*.log
*.tlog
*.obj
*.iobj
*.ipdb

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# -------------------[ Build ]------------------------- #
*.html
*.unity3d
*.pdb
*.exe
*.csv
*.dll
/solveeom/.vs/solveeom/v15
